body {
    header {
        nav {
            a {
                color: black;
                font-weight: bold;
                text-decoration: none;

                &:hover {
                    color: black;
                }
            }

            select {
                font-weight: bold;
                border: none;
            }

            ul {
                text-transform: uppercase;

                li {
                    a {
                        text-decoration: none;

                        &:hover {
                            border-bottom: 2px solid black;
                        }
                    }
                }
            }
        }
    }

    main {
        section {

            button {
                float: left;
                position: absolute;
                left: 61%;
                bottom: 30%;
                max-width: 750px;
            }

            .btn-dark {
                &:hover {
                    background-color: white;
                    color: black;
                }
            }
        }

        section.intro {
            p {
                font-weight: bold;
            }
        }

        section.products {
            nav {
                border-top: 2px solid lightgray;
                border-bottom: 2px solid lightgray;

                ul {
                    li {
                        a {
                            color: lightgray;
                            text-transform: uppercase;

                            &:hover {
                                color: black;
                                border-top: 2px solid black;
                                border-bottom: 2px solid black;
                            }
                        }
                    }
                }
            }

            figcaption {
                span {
                    font-weight: bold;
                }

                del {
                    font-weight: normal;
                }
            }
        }

        section.collection {

            em {
                border-bottom: 2px solid black;
                font-style: italic;
                font-size: large;
                width: auto;
                margin: auto;
            }
        }

        section.promotion {
            em {
                border-bottom: 2px solid black;
                font-style: italic;
                font-size: large;
                width: auto;
                margin: auto;
            }

            button {
                position: relative;
                left: 30%;
                bottom: 0%;
                max-width: 750px;
                top: 10%;

                .btn-dark {
                    &:hover {
                        background-color: white;
                        color: black;
                    }
                }
            }
        }

        section.follow {
            em {
                border-bottom: 2px solid black;
                font-style: italic;
                font-size: large;
                width: auto;
                margin: auto;
            }
        }

        section.services {
            .imgService {
                padding-right: 40px;
                border-right: 2px solid lightgray;
            }

        }
    }

    footer {
        ul {
            li {
                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

}