
.icon-heart:before { content: '\e800'; } /* '' */
.icon-adult:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-basket:before { content: '\e803'; } /* '' */
.icon-eye:before { content: '\e804'; } /* '' */
.icon-arrows-ccw:before { content: '\e805'; } /* '' */
.icon-truck:before { content: '\e806'; } /* '' */
.icon-headphones:before { content: '\e807'; } /* '' */
.icon-shop:before { content: '\e835'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-pinterest-squared:before { content: '\f0d3'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
